@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap");

body {
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
}
.card_container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.container_wrapper {
  width: 630px;
  height: 450px;
  background-color: #333d4e;
  padding: 84px 77px;
  text-align: center;
  border-radius: 10px;
  box-sizing: border-box;
}
.card_title {
  font-size: 28px;
  letter-spacing: 10px;
  color: #d2dbe1;
  margin-top: -12px;
  margin-bottom: 50px;
}
.hr_line {
  margin: 0;
  margin-top: -15px;
  color: #5c6578;
}
.card_text {
  margin: 50px 0;
  font-size: 17px;
  letter-spacing: 5px;
  color: #a3abba;
}

.social_link ul {
  list-style: none;
  padding: 0;
  margin-top: -14px;
}
.social_link ul li {
  display: inline-block;
  margin-right: 35px;
}
.social_link ul li a {
  text-decoration: none;
}
.social_link ul li i {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 58px;
  height: 58px;
  border: 0;
  outline: 0;
  border-radius: 100px;
  font-size: 22px;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}

.social_link ul li a .fa-twitter {
  background-color: #69b7cf;
  color: #fff;
}
.social_link ul li a .fa-facebook-f {
  background-color: #7492d2;
  color: #fff;
}
.social_link ul li a .fa-phone {
  background-color: #89bf93;
  color: #fff;
}
.social_link ul li a .fa-envelope {
  background-color: #c289a4;
  color: #fff;
}

.social_link ul li a .fa-twitter:hover {
  background-color: #fff;
  color: #69b7cf;
}
.social_link ul li a .fa-facebook-f:hover {
  background-color: #fff;
  color: #7492d2;
}
.social_link ul li a .fa-phone:hover {
  background-color: #fff;
  color: #89bf93;
}
.social_link ul li a .fa-envelope:hover {
  background-color: #fff;
  color: #c289a4;
}

@media only screen and (max-width: 630px) {
  .card_title {
    font-size: 22px;
  }
  .card_text {
    font-size: 15px;
  }
}
@media only screen and (max-width: 568px) {
  .card_title {
    letter-spacing: 6px;
  }
  .card_text {
    font-size: 15px;
  }
  .social_link ul li {
    margin-right: 15px;
  }
}
@media only screen and (max-width: 500px) {
  .card_title {
    font-size: 12px;
    letter-spacing: 6px;
  }
  .card_text {
    font-size: 12px;
  }
  .social_link ul li {
    margin-right: 15px;
  }
  .social_link ul li i {
    width: 38px;
    height: 38px;
    font-size: 16px;
  }
}
